footer {
  position: relative;
  font-size: 15px;
  font-weight: 700;
  z-index: 103;
  width: 100%;
  text-align: center;
  top: 72px;
}
footer .footer-wrap {
  border-top: 1px solid footer-line;
  width: min(900px, calc(100% - 36px));
  margin: auto;
  color: label-font;
  background: transparent;
}
footer .footer-wrap div {
  margin: 15px;
}
footer .footer-wrap a {
  text-decoration: none;
  color: default-link;
}
footer .footer-icon {
  display: inline-block;
  margin: 0 10px;
  color: default-link;
  font-size: 18px;
}
@media (max-width: 900px) {
  footer {
    top: 44px;
  }
}
