#home-head {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  top: 0;
  left: 0;
  z-index: 100;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#home-head .home-info {
  position: relative;
  margin: auto;
}
#home-head .home-info .info {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
  border-radius: 50%;
}
#home-head .home-info .loop:nth-child(1) {
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  background: #fff;
  opacity: 0.3;
  transform: rotate(30deg);
  animation: loop1 10s linear infinite;
}
#home-head .home-info .loop:nth-child(2) {
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  background: #fff;
  opacity: 0.45;
  transform: rotate(60deg);
  animation: loop2 15s linear infinite;
}
#home-head .home-info .loop:nth-child(3) {
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  opacity: 0.3;
  background: #fff;
  transform: rotate(90deg);
  animation: loop3 10s linear infinite;
}
#home-head .home-info .loop:nth-child(4) {
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  opacity: 0.45;
  background: #fff;
  transform: rotate(120deg);
  animation: loop4 15s linear infinite;
}
#rotating-subtitle,
#rotating-description {
  transition: all 0.6s ease-in-out;
}
.fade-out {
  opacity: 0;
  transform: translateY(-10px);
}
.fade-in {
  opacity: 1;
  transform: translateY(0);
  animation: fadeIn 0.6s ease-in-out;
}
#home-posts-wrap {
  position: relative;
  display: flex;
  width: 100%;
  background: #fff;
  z-index: 101;
  border-radius: 10px;
  margin: auto;
}
#home-posts {
  position: relative;
  background: #fff;
  margin: auto;
}
#home-posts h2 {
  text-align: center;
  color: posts-title;
  text-decoration: none;
}
#home-posts .post {
  position: relative;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(217,217,217,0.502);
  transform: translate3d(0, 0, 0);
  transition: all 0.4s ease-out;
}
#home-posts .post:hover {
  transform: translate3d(-5px, -5px, 0);
}
#home-posts .post a {
  text-decoration: none;
}
#home-posts .post .category-and-date {
  width: 100%;
  margin-top: 15px;
  color: label-font;
  text-align: center;
}
#home-posts .post .category-and-date .category {
  display: inline-block;
  margin-right: 25px;
}
#home-posts .post .category-and-date .category a {
  color: label-font;
}
#home-posts .post .category-and-date .date {
  display: inline-block;
}
#home-posts .post .excerpt {
  color: text-font;
}
#home-posts .post .post-tags a {
  color: #ffbbf4;
  font-size: 14px;
}
#home-posts .post .post-tags .tag {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
}
#home-posts .post .go-post {
  background: go-post;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  font-weight: bold;
  border-radius: 20px 0;
  font-size: 14px;
  position: absolute;
  bottom: -5px;
  right: -5px;
  transition: all 0.2s ease-out;
  box-shadow: 2px 2px 10px 0px go-post-shadow;
}
#home-posts .post .go-post:hover {
  right: -7px;
  box-shadow: -2px -2px 10px 0px go-post-shadow-hover;
}
#home-posts .page-current {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #999;
  margin-top: 50px;
}
#home-posts .page-current .prev,
#home-posts .page-current .next {
  width: 50px;
  text-align: center;
}
#home-posts .page-current .page-index {
  width: 300px;
  text-align: center;
  font-weight: blod;
}
#home-posts .page-current .current {
  color: current-color;
}
#home-posts .page-current a {
  color: #999;
  text-decoration: none;
}
#home-posts .page-current .page-num,
#home-posts .page-current .current,
#home-posts .page-current .page-omit {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  line-height: 25px;
  padding: 5px;
  margin: 0 7px;
}
#home-posts .page-current .page-num:hover {
  background: page-index-active;
  color: #fff;
}
.card-style {
  text-align: center;
}
.card-style .avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.card-style .name {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}
.card-style .descriptions {
  margin: 15px 0;
}
.card-style .descriptions .description {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
  min-height: 20px;
}
.card-style .icon-links {
  margin: 15px 0;
}
.card-style .icon-links .icon-link {
  margin: 0 5px;
}
.card-style .icon-links .icon-link a {
  color: #666;
}
.card-style .icon-links .icon-link a:hover {
  color: #1890ff;
}
.card-style .friend-links {
  margin-top: 15px;
}
.card-style .friend-links .friend-link {
  margin: 5px 0;
}
.card-style .friend-links .friend-link a {
  color: #666;
  text-decoration: none;
}
.card-style .friend-links .friend-link a:hover {
  color: #1890ff;
}
@media (max-width: 600px) {
  .card-style .avatar img {
    width: 80px;
    height: 80px;
  }
  .card-style .name {
    font-size: 16px;
  }
  .card-style .descriptions .description {
    font-size: 13px;
  }
  .card-style .icon-links .icon-link {
    margin: 0 3px;
  }
  .card-style .icon-links .icon-link a {
    font-size: 14px;
  }
}
@-moz-keyframes loop1 {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(390deg);
  }
}
@-webkit-keyframes loop1 {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(390deg);
  }
}
@-o-keyframes loop1 {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(390deg);
  }
}
@keyframes loop1 {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(390deg);
  }
}
@-moz-keyframes loop2 {
  0% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(420deg);
  }
}
@-webkit-keyframes loop2 {
  0% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(420deg);
  }
}
@-o-keyframes loop2 {
  0% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(420deg);
  }
}
@keyframes loop2 {
  0% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(420deg);
  }
}
@-moz-keyframes loop3 {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(450deg);
  }
}
@-webkit-keyframes loop3 {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(450deg);
  }
}
@-o-keyframes loop3 {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(450deg);
  }
}
@keyframes loop3 {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(450deg);
  }
}
@-moz-keyframes loop4 {
  0% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(480deg);
  }
}
@-webkit-keyframes loop4 {
  0% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(480deg);
  }
}
@-o-keyframes loop4 {
  0% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(480deg);
  }
}
@keyframes loop4 {
  0% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(480deg);
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
