#menu {
  user-select: none;
  z-index: 105;
  position: fixed;
  width: 100%;
  line-height: 50px;
  font-weight: bold;
  transition: top 0.5s ease-out;
  background: menu-default-background;
  box-shadow: 0px -1px 10px 0px rgba(158,158,158,0.302);
  top: 0;
}
#menu .desktop-menu {
  height: 50px;
}
#menu .desktop-menu .logo {
  display: inline-block;
  margin-right: 2px;
  margin-left: 0.3px;
  vertical-align: middle;
}
#menu .desktop-menu .logo img {
  width: 36px;
  height: 36px;
  vertical-align: middle;
  border-radius: 4px;
}
#menu .desktop-menu .title {
  display: inline-block;
  font-family: default-font-family;
  text-transform: uppercase;
  color: menu-default-font;
}
#menu .desktop-menu a {
  display: inline-block;
  margin-left: 30px;
  text-decoration: none;
  color: menu-default-font;
}
#menu .desktop-menu a span {
  display: inline-block;
  position: relative;
}
#menu .desktop-menu a span img {
  position: relative;
  top: 3px;
  width: 20px;
  height: 20px;
}
#menu .desktop-menu a span:nth-child(1) {
  margin-right: 5px;
}
#menu .phone-menu {
  min-height: 50px;
  text-align: center;
  transition: all 0.3s ease-out;
}
#menu .phone-menu .menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 15px;
}
#menu .phone-menu .menu-header .logo-link {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}
#menu .phone-menu .menu-header .logo-link .logo {
  display: inline-block;
  vertical-align: middle;
}
#menu .phone-menu .menu-header .logo-link .logo img {
  width: 36px;
  height: 36px;
  vertical-align: middle;
  border-radius: 4px;
}
#menu .phone-menu .menu-header .title {
  flex: 1 1 auto;
  cursor: pointer;
  color: menu-default-font;
  font-size: 18px;
  font-family: default-font-family;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  max-width: fit-content;
}
#menu .phone-menu .menu-header .menu-toggle {
  flex: 0 0 auto;
  cursor: pointer;
  color: menu-default-font;
  font-size: 18px;
}
#menu .phone-menu .items {
  padding: 10px 0 20px;
  z-index: 104;
  transition: all 0.3s ease-out;
}
#menu .phone-menu .items a {
  color: menu-default-font;
  display: block;
  padding: 12px 0;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
#menu .phone-menu .items .item {
  min-width: 200px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}
#menu .phone-menu .items .item:hover {
  background: rgba(255,255,255,0.502);
}
#menu .phone-menu .curtain {
  position: fixed;
  z-index: 104;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}
@media (max-width: 600px) {
  .phone-menu .menu-header .logo-link .logo img {
    width: 32px;
    height: 32px;
  }
  .phone-menu .menu-header .title {
    font-size: 16px;
  }
}
.hidden-menu {
  top: -70px !important;
}
.menu-color {
  background: menu-index-background !important;
  box-shadow: 0px -1px 10px 0px rgba(255,255,255,0) !important;
}
.menu-color .false {
  background: rgba(0,0,0,0.2);
}
.menu-color .true {
  background: rgba(0,0,0,0.6) !important;
}
.menu-color .title,
.menu-color a {
  color: menu-index-font !important;
}
